{% extends 'base.html' %}

{% load static %}

{% block page %}

<div class="text-center">
  <br>
  <img src="{% static "img/SIA.jpg" %}" width="400" height="350"/>
  <h2>About Me</h2>
  <p>
    I'm a 3rd year undergraduate pursuing a direct masters in Computer Science & Business from UC Berkeley and
    Nanyang Technological University (NTU), under the
    <a href="http://www.ntu.edu.sg/rep/Pages/DirectorMessage.aspx">Renaissance Engineering Programme</a>.
    My passion lies in using cutting-edge technology to empower organizations and people in the areas of
    predictive modeling and human potential.
    <br>
    <br>
    As a Full Stack Machine Learning Developer, I have built chatbots, blockchain web apps and predictive modeling
    algorithms during my work with
    <a href="http://www.ramco.com/about/">Ramco Systems</a>,
    <a href="https://www.datarobot.com/">DataRobot</a> and my
    <a href="https://github.com/LifeArchitect?tab=repositories">Personal Projects</a>, including graduating from
    <a href="https://www.udacity.com/course/deep-learning-nanodegree-foundation--nd101">Udacity's Deep Learning Nanodegree Foundation Program</a>.
    My core stack includes Django, Node.js and Neural Networks (ANNs, CNNs, RNNs, LSTMs & GANs).
    <br>
    <br>
    As an Entrepreneur, I have experience in product sales, digital marketing and management consulting during my
    work with
    <a href="http://awakengroup.com/">Awaken Group</a>,
    <a href="https://www.linkedin.com/company-beta/3531114/">ICON</a>,
    <a href="https://www.facebook.com/pg/StreetSmartUniversity/about/?ref=page_internal">Street Smart University</a>,
    and founded my previous start up,
    <a href="http://www.pursueyourpassion.co/">Pursue Your Passion</a>,
    to provide career coaching for youths.
    <br>
    <br>
    The purpose of this site is two-fold: 1) To showcase a growing portfolio of my work and 2) To experiment and
    play around with cool projects, e.g.implmenting interactive neural nets in the browser. I hope you'll find the
    content I put out to be of value. Have a look at my resume for more information.
    <br>
    <br>
    Best,
    <br>
    Sheng Wei
  </p>
</div>

{% endblock %}
