{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>

    {% block script %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-3 col-md-3 col-sm-3 sidebar collapse sidebar-collapse sidebar-ex1-collapse">
          <div class="text-center">

                <img src="{% static "img/pro.png" %}" class="img-circle" width="170" height="170"/>
                <br/>
                <br/>
                <h4>Pang Sheng Wei</h4>
                <br/>
                <p>
                  UC Berkeley | NTU REP | Computer Science | Deep Learning | Start Ups | Marketing | Personal Development | Coaching | Muscle Ups
                </p>

                <div class="list-group">
                  <a class="list-group-item" href="{% url 'home' %}">About<span class="badge"></span></a>
                  <a class="list-group-item">My Work<span class="badge"></span></a>
                  <a class="list-group-item" href="{% url 'posts_home' %}">Blog<span class="badge"></span></a>
                  <a class="list-group-item">Resume<span class="badge"></span></a>
                  <a class="list-group-item">Courses (Coming Soon!)<span class="badge"></span></a>
                  <a class="list-group-item">Subscribe<span class="badge"></span></a>
                </div>

                <div class='links'>
                  <button id="linkedin" onclick=" window.open('https://www.linkedin.com/in/pangshengwei/')">Linkedin</button>
                  <button id="github" onclick=" window.open('https://github.com/LifeArchitect?tab=repositories')">Github</button>
                  <button id="email">Email</button>
                </div>
          </div>

        </nav>

        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 content">

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="menu">
            <ul class="nav sidebar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'home' %}">About</a></li>
                  <li><a href="#">My Work</a></li>
                  <li><a href="{% url 'posts_home' %}">Blog</a></li>
                  <li><a href="#">Resume</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Subscribe</a></li>
                </ul>
              </li>
            </ul>
          </div>
          {% block page %}{% endblock %}

          <div class="comments">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
          </div>
          
        </div>
      </div>
    </div>

  </body>
</html>
